<div id="panel1" class="panel">
	<div class="container">
		<div class="sixteen columns" id="logo-banner">
			<%= link_to image_tag("cuplogo2.png", height: "70px", class: "top-logo"), homepage_path %>
		</div>
		<div class="sixteen columns" id="copy-container">
			<h1>Ask therapists questions, anonymously.</h1>
			<h5>There's no need to struggle alone. We'll help you ask for help.</h5>
		</div>
		<div class="sixteen columns" id="cta-form">
			<%= render 'users/create' %>
			<span id="secure-notice">Remain anonymous. Your info is stored securely and never shared.</span>
			<%= render 'shared/error_messages' %>
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns">
				<h2>It's hard and scary to reach out.</h2>
			</div>
			<div class="twelve columns">
				<p>Therapy sessions might be outside your budget. You may worry that loved ones or peers will judge you. You don't even know how to begin finding the right person.</p>
				<p>We've been exactly there. And that's why we want to help.</p>
				<h2>Our software will get you advice.</h2>
				<p>We've built a system that sends messages to therapists on your behalf without revealing your identity. Send in what's on your mind, and it forwards it along to a few therapists in your local area. Their responses are then sent your way. Helpful advice, guaranteed.
			</div>
		</div>
	</div>
</div>

<div id="panel3" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="how-header">
				<h2>How to get help</h2>
			</div>
			<div class="full-span">
				<div class="three columns">
					<div class="image" id="form-icon"></div>
				</div>
				<div class="nine columns">
					<h3>Fill out our short form.</h2>
					<p>Explain as best you can what's on your mind, and ask any questions you might have. Give a few simple background details, and you're done.</p>
				</div>
			</div>
			<div class="full-span">
				<div class="three columns">
					<div class="image" id="clock-icon"></div>
				</div>
				<div class="eleven columns">
					<h3>Sit back, therapists will respond.</h2>
					<p>Based on what you share--and without revealing your identity--our system messages local therapists on your behalf. Based on their expert knowledge, therapists are asked to share helpful advice --things like the best community resources that don't require insurance, or what to do if you're feeling anxious.</p>
				</div>
			</div>
			<div class="full-span">
				<div class="three columns">
					<div class="image" id="cal-icon"></div>
				</div>
				<div class="nine columns">
					<h3>Help delivered.</h2>
					<p>The system forwards their responses to you, and provides you with their contact information. No obligation to follow up. </p>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :button_content do %>
  <div class="button">Get Started</div>
<% end %>

<%= render 'layouts/cta_green' %>

<div id="panel5" class="panel">
	<div class="bg-container">
		<div class="container">
			<h2>Frequently Asked Questions</h2>
      <div id="accordion">
        <h3>Who are you? Why are you doing this?</h3>
        <div>
          <p>
            We are two people who understand how difficult it can be to find help and speak openly while struggling with life hardships. We are doing this because we want to make it as easy as possible for people struggling with issues to get professional advice.
          </p>
        </div>
        <h3>Who's going to read what I write?</h3>
        <div>
          <p>
            Based on the zipcode you provide us with, our system will reach out to therapists within your area with the question you provide. No one will see your question besides us and the therapists we contact. And your identity will never be revealed.
          </p>
        </div>
        <h3>How long will it be before I hear back?</h3>
        <div>
          <p>
            The amount of time it will take can vary, but we will get back to you with thoughtful, helpful advice as soon as possible. Give us a few days and feel free to shoot us an email at any time: <li><a href="mailto:scouterapp@gmail.com">scouterapp@gmail.com</a></li>
          </p>
        </div>
        <h3>What constitutes a therapist?</h3>
        <div>
          <p>
            A person who is qualified to treat someone with a mental disorder by helping them understand their illness. A therapist teaches people strategies and gives them tools to deal with stress, unhealthy thoughts, and behaviors. <span style="font-style: italic">--National Institute of Mental Health</span>
          </p>
        </div>
        <h3>Is this service free?</h3>
        <div>
          <p>
            Yes, this service is provided to you at no cost. 
          </p>
        </div>
        <h3>How is my information kept confidential?</h3>
        <div>
          <p>
            All incoming and outgoing transmissions through scouterapp.com are secure through the SSL (Secure Sockets Layer) protocol, evidenced by https://. Furthermore, any data provided to us is encrypted before it is stored ensuring that even in the case that the database is hijacked, no personal information can be taken from it.
          </p>
        </div>
    	</div>
		</div>
	</div>
</div>