<% set_meta_tags :title => 'Therapy, Easy, Try for free',
                 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
								 :reverse => false 
%>

<%= render 'layouts/alertbar' %>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<%= render 'layouts/logo' %>
			<div class="sixteen columns" id="copy-container">
				<h1>Instant message with a therapist.</h1>
				<h3>Get advice from a therapist in a no pressure way.</h3>
				<h3>A chat lasts 30 minutes, and it happens in a secure chatroom.</h3>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<%= render 'layouts/static_pages/browse_button' %>
				<span id="secure-notice">Confidential. All conversations are deleted.</span>
			</div>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns text-container">
				<h2>Get help here.</h2>
				<p>If you're struggling, this is for you. Instant messaging makes it comfortable and easy to say exactly what's on your mind. And even if you don't need formal therapy, a knowledgable therapist still has advice that can help.</p>
				<p>It's $<%= @amount/100 %> for a 30 minute chat. And don't worry, all messages are permanently deleted.</p>
			</div>

		</div>
	</div>
</div>

<%#= render 'layouts/static_pages/how_it_works' %>

<%#= render 'layouts/cta_green' %>

