<% set_meta_tags :title => 'Peer Coaching By Phone, Satisfaction Guaranteed',
                 :description => 'Scouter aims to make it as simple as possible to begin working with a therapist. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access qualified mental health support.',
                 :keywords => 'Cheap, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Therapy, Anonymously',
								 :reverse => true 
%>

<%= render 'layouts/alertbar' %>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="logo-banner">
				<%= link_to image_tag("couch-logo5.png", height: "50px", class: "top-logo"), homepage_path %>
				<p>Plain <span style="font-weight: 600;">White</span> Couch</p>
			</div>
			<div class="sixteen columns" id="copy-container">
				<h1>Instant message with a therapist.</h1>
				<h5>Try talking to a therapist in a no pressure way.</h5>
				<h5>If you like it, switch to audio-chat, video-chat, or meet in person.
				</h5>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<%= render 'clients/create' %>
				<span id="secure-notice">Confidential. All conversations are deleted.</span>
				<%= render 'shared/error_messages' %>
			</div>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns">
				<h2>I'm gay. </h2>
				<p>Two simple words. They were so hard to say.</p>
				<p>I was nervous to try a therapist. I was skeptical too. But I wanted to feel better. I tried.</p>
				<p>We talked for two months, and it worked. I learned to accept it. I'm gay.</p>
				<h2>Try here.</h2>
				<p>If you've considered talking to a therapist for any reason at all— this is for you. It's just an easy way to try.</p>
			</div>
			<div class="eight columns image-container">
				<%= image_tag('matt.jpg', id: "matt") %>
			</div>
		</div>
	</div>
</div>

<%#= render 'layouts/static_pages/how_it_works' %>

<%#= render 'layouts/cta_green' %>

