<div id="panel1" class="panel">
	<div class="container">
		<div class="sixteen columns" id="logo-banner">
			<%= link_to image_tag("cuplogo2.png", height: "70px", class: "top-logo"), homepage_path %>
		</div>
		<div class="sixteen columns" id="copy-container">
			<h1>Porn may be damaging your brain, confidence, and relationships.</h1>
			<h5>Don't struggle alone. We'll find you an expert who understands</h5>
		</div>
		<div class="sixteen columns" id="cta-form">
			<%= render 'users/create' %>
			<span id="secure-notice">Remain anonymous. Your info is stored securely and never shared.</span>
			<%= render 'shared/error_messages' %>
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns">
				<h2>Frequent <span class="definition" id="PMO-def">PMO</span> can create a host of problems.</h2>
				<div id="PMO-pop-over" class="pop-over">PMO : { Porn, Masturbation, Orgasm }</div>
			</div>
			<div class="twelve columns">
				<p>Complications can vary from anxiety, depression, to physical / emotional desensitization, and sometimes even erectile dysfunction. Your brain is incredibly adaptive, but not designed for the instantly gratifying, extreme stimulation provided by the combination of high-speed Internet and porn.
				<h2>For some, the solution comes easily i.e. "<span class="definition" id="reboot-def">rebooting</span>".</h2>
				<div id="reboot-pop-over" class="pop-over">Reboot : A complete rest from artificial sexual stimulation for an extended period of time, often with the goal of reversing effects caused by frequent PMO.</div>
				<p>For most, it's complicated. Months without PMO including flatlines, relapses, anxiety, embarrassment--even depression. And as much as you hope, you don't actually know if this is right for you. You could be creating new problems or making things worse.
			</div>
			<div class="twelve columns">
				<p>Rather than relying on unchecked advice, let us find an expert therapist who will work with you to figure out what's right.
			</div>
		</div>
	</div>
</div>

<div id="panel3" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="how-header">
				<h2>How to get help</h2>
			</div>
			<div class="full-span">
				<div class="three columns">
					<div class="image" id="form-icon"></div>
				</div>
				<div class="six columns">
					<h3>Fill out our short form.</h2>
					<p>It's free and confidential, and you only have to give us your first name. Afterwards, we'll touch base with an email.</p>
				</div>
			</div>
			<div class="full-span">
				<div class="three columns">
					<div class="image" id="clock-icon"></div>
				</div>
				<div class="six columns">
					<h3>Sit back for a week.</h2>
					<p>Finding the right expert can take time. Based on your Still free, and you're not obligated to schedule a conversation.</p>
				</div>
			</div>
			<div class="full-span">
				<div class="three columns">
					<div class="image" id="cal-icon"></div>
				</div>
				<div class="six columns">
					<h3>Schedule a conversation.</h2>
					<p>Connect over videochat or telephone at a mutually agreeable date and time. If you're satisfied, schedule follow up conversations as necessary.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :button_content do %>
  <div class="button">Get Started</div>
<% end %>

<%= render 'layouts/cta_green' %>

<div id="panel5" class="panel">
	<div class="bg-container">
		<div class="container">
			<h2>Frequently Asked Questions</h2>
            <div id="accordion">
              <h3>This is a beta. What does that mean?</h3>
              <div>
              	<p>
									All that means is that we will be more directly involved in ensuring the quality of our service.
                </p>
              </div>
              <h3>Who are you? Why are you doing this?</h3>
              <div>
                <p>
                  Answer
                </p>
              </div>
              <h3>What constitutes a therapist?</h3>
              <div>
                <p>
                  Any person who is appropriately informed and qualified to administer treatment to relieve or heal a disorder.
                </p>
              </div>
              <h3>How much does this cost?</h3>
              <div>
                <p>
                  The price will vary from therapist to therapist. But based on what you feel you can afford, we will try to find you the best price possible.
                </p>
              </div>
              <h3>How is my information kept confidential?</h3>
              <div>
                <p>
                  All incoming and outgoing transmissions through scouterapp.com are secure through SSL (Secure Sockets Layer) protocol (evidenced by https://). Any data given to us is encrypted before it is stored ensuring that even in the case that the database is hijacked, no personal information can be taken from it.
                </p>
              </div>
			  <h3>Do you accept insurance?</h3>
			  <div>
				  <p>
					  Not at the moment, but you can always file a claim with your insurance company.
				  </p>
            </div>
          </div>
		</div>
	</div>
</div>