<% set_meta_tags :title => 'Therapy, Easy, Try for free',
                 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
								 :reverse => false 
%>

<%= render 'layouts/alertbar' %>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<%= render 'layouts/logo' %>
			<div class="sixteen columns" id="copy-container">
				<h1>Therapists for UC Berkeley.</h1>
				<h3>They're nearby and accept SHIP insurance.</h3>
				<h3>See what they're like and how they can help.</h3>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<%= render 'layouts/static_pages/browse_button' %>
				<span id="secure-notice">This is confidential. Your data is secure.</span>
			</div>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns text-container">
				<h2>Meet a committed therapist.</h2>
				<p>Student counseling is great. But it's short-term and often lacks availability. We are working with UC Berkeley counselors to make it easier for you to see what it would be like to work with dedicated therapists in your community.</p>
				<p>Each therapist in our directory showcases a number of short video clips on key topics so you can get a better sense of who they are and how they can help.</p>
			</div>
			<div class="eight columns image-container">
				<%= image_tag "sample_video_image_menu.png" %>
				<%= image_tag "sample_video_image_startups.jpg" %>
			</div>

		</div>
	</div>
</div>

<%#= render 'layouts/static_pages/how_it_works' %>

<%#= render 'layouts/cta_green' %>

