<% set_meta_tags :title => 'Peer Coaching By Phone, Satisfaction Guaranteed',
                 :description => 'Scouter aims to make it as simple as possible to begin working with a therapist. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access qualified mental health support.',
                 :keywords => 'Cheap, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Therapy, Anonymously',
								 :reverse => true 
%>

<div class="alert-bar">
	<% flash.each do |key, value| %>
		<%= image_tag( 'x-icon.png', size: '17x17', class: "close-alert" ) %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
</div>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="logo-banner">
				<%= link_to image_tag("couch-logo5.png", height: "50px", class: "top-logo"), homepage_path %>
				<p>Plain <span style="font-weight: 600;">White</span> Couch</p>
			</div>
			<div class="sixteen columns" id="copy-container">
				<h1>Work with a Peer Coach.</h1>
				<h5>Short-term counseling for young adults. Affordable, comfortable and convenient.</h5>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<%= render 'clients/create' %>
				<span id="secure-notice">This is confidential.</span>
				<%= render 'shared/error_messages' %>
			</div>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="ten columns">
				<h2>You don't need therapy, but you've got a problem. </h2>
			</div>
			<div class="ten columns">
				<p>You wonder what to do with your life. You don't like your job, but need it to survive. Maybe you're lonely. You might be a little anxious, depressed, or scared.</p>
				
				<h2>So, talk with a Peer Coach.</h2>
				<p>Peer Coaches are graduate students studying to be clinical therapists. They give objective advice, but they can also relate to you as fellow young adults. Over a few sesions, they'll help you work through your problem.</p>
			</div>
		</div>
	</div>
</div>

<%#= render 'layouts/static_pages/how_it_works' %>

<%#= render 'layouts/cta_green' %>

