<% set_meta_tags :title => 'Therapy, Easy, Try for free',
                 :description => "Instant message with a therapist. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
                 :keywords => 'Cheap, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Therapy, Anonymously',
								 :reverse => false 
%>

<%= render 'layouts/alertbar' %>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<%= render 'layouts/logo' %>
			<div class="sixteen columns" id="copy-container">
				<h1>Instant message with a therapist.</h1>
				<h5>Try talking to a therapist in a no pressure way.</h5>
				<h5>If you like it, switch to audio-chat, video-chat, or meet in person.
				</h5>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<%= render 'clients/create' %>
				<span id="secure-notice">Confidential. All conversations are deleted.</span>
				<%= render 'shared/error_messages' %>
			</div>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns text-container">
				<h2>Try here.</h2>
				<p>If you've considered talking to a therapist for any reason at all— this is for you. It will take less to start in a chatroom than to sit across from a stranger. </p>
				<p>So see what therapy is like. This is an easy way to try.</p>
			</div>
			<div class="sixteen columns image-container">
				<!--<%= image_tag('laptop-wireframe3.jpg', id: "laptop-chat") %>-->
				<div class="chat-ui-container">
					<div class="messages-panel">
						<div id="chat-notification-container">
							<div id="chat-notification">
							</div>
						</div>
						<ul id="messages">
							<div class="messages-container">
								<div class="message-container">
									<li class="you">
										<span class="nickname-said">You said:</span>
										<div class="message-wrapper">
											<div class="message">
												<p>Hello. This is sample text.</p>
											</div>
										</div>
									</li>
								</div>
							
								<div class="message-container">
									<li class="them">
										<span class="nickname-said">Therapist said:</span>
										<div class="message-wrapper">
											<div class="message">
												<p>Hi how's it going, my name is blank and I'm here to talk to you today about your problems.</p>
											</div>
										</div>
									</li>
								</div>
							
								<div class="message-container">
									<li class="you">
										<span class="nickname-said">You said:</span>
										<div class="message-wrapper">
											<div class="message">
												<p>If you've considered talking to a therapist for any reason at all— this is for you. It's just an easy way to try.</p>
											</div>
										</div>
									</li>
								</div>
							</div>
							<div id="spinner" class="spinner">
									<img alt="Loading" height="50px" src="/assets/loading.gif" />
							</div>
							<div id="message-overlay"></div>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<%#= render 'layouts/static_pages/how_it_works' %>

<%#= render 'layouts/cta_green' %>

