<div class="panel profile-link-panel closed" data-id="<%= therapist.id %>">
	<div class="bg-container closed">
		
		<div class="top-panel">
			<span class="tap-plus-sign">+</span>
			<div class="container">
				<div class="four columns therapist-image-container">
					<%= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
				</div>
				<div class="twelve columns">
					<div class="profile-link-container">
						<h3><%= therapist.first_name %> <%= therapist.last_name %>
																<span> / <%= therapist.title %>, <%= therapist.years %> years in practice, <%= therapist.state %> License No: <%= therapist.license_number %></span></h3>
						<!--<h3><span><%= therapist.school_name %></span></h3>-->
						<div class="bio-container">
							<p class="card-bio">"<%= therapist.bio %>"</p>
						</div>
						<ul>
							<h3 style="margin-top: 20px;"><span>Areas of Specialty:</span></h3>
							<% therapist.issues.each do |issue| %>
								<li><%= issue %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bottom-panel">
			<div class="container expanded-profile-content">
				<div class="sixteen columns form-container">
					<%= form_for @event, url: { controller: "events", action: "create" } do |f| %>
					
					<!--
							<%= label_tag "Suggest two times to talk" %>

							<div class="datetime-container">
								<%= text_field(:suggested_times, :suggested_date1, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY" )  %>
								<%= text_field(:suggested_times, :suggested_time1, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
							</div>
							<div class="datetime-container">
								<%= text_field(:suggested_times, :suggested_date2, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY") %>
								<%= text_field(:suggested_times, :suggested_time2, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
							</div>
						-->
						
						<h3>Select a time</h3>
						
						<div class="table-container">
							<table border="0" cellpadding="0" cellspacing="0" id="time-table">
								<tbody>
								
									<!-- HEADER DATES -->
									<tr>
										<td class="blank-cell"><!-- BLANK CELL FOR CORNER --></td>
										<% (0..6).each do |i| %>
											<% @date = (Time.now + i.days).strftime('%a, %b %d') %>
											<% @day = (Time.now + i.days).day %>
											<th class="<%= @day %>"><%= @date %></th>
										<% end %>
									</tr>
								
									<!-- BODY -->
									<tr>
										<td class="times-column">
											<% (8..22).each do |i| %>
												<% @hour = (Time.now.beginning_of_day + i.hours).strftime('%l%P') %>
												<div data-datetime="<%= @hour %>" class="time-cell <%= @hour %>">
													<%= @hour %>
												</div>
											<% end %>
										</td>
									
										<% (0..6).each do |i| %>
											<% @date = (Time.now + i.days).strftime('%a, %b %d') %>
											<% @short_date = (Time.now + i.days).strftime('%a') %>
											<% @day = (Time.now + i.days).day %>
							
											<td class="select-column">
												<div class="select-cells">
													<% (8..22).each do |h| %>
														<% @hour = (Time.now.beginning_of_day + h.hours).strftime('%l%P') %>
														<%= puts (Time.now) %>
													
														<% if i == 0 %>
															<% if h < (Time.now + 3.hours).hour %>
																<% @class = "disabled" %>
															<% elsif h == (Time.now + 3.hours).hour %>
																<% @class = "today" %>
															<% else %>
																<% @class = "enabled" %>
															<% end %>
														<% end %>
													
														<div data-day="<%= @day %>" data-time="<%= @hour %>" data-datetime="<%= @date + " " + @hour %>" class="select-cell <%= @class %>">
															<span><%= @short_date + " " + @hour %></span>
														</div>
													<% end %>
												</div>
											</td>
								
										<% end %>
										
											<td>
												<div id="legend-container">
													<div class="legend legend-enabled"><span class="legend-label">Available</span></div>
													<div class="legend legend-disabled"><span class="legend-label">Unavailable</span></div>
													<div class="legend legend-today"><div></div><span class="legend-label">Today</span></div>
												</div>
											</td>
												
									</tr>
								
								</tbody>
							</table>
							
						</div>
						
						
						<!--
							
							<% (0..2).each do |i| %>
								<% @date = (Time.now + i.days).strftime('%a, %b %d') %>
							
								<div class="datetime-container">
									<div class="date">
										<%= @date %>
									</div>
									<div class="times">
										<% (8..22).each do |i| %>
											<% @hour = (Time.now.beginning_of_day + i.hours).strftime('%I:%M %p') %>
											<div data-datetime="<%= @date + " " + @hour %>" class="time">
												<%= @hour %>
											</div>
										<% end %>
									</div>
								</div>
								
							<% end %>
							
							-->
							
							<%= f.hidden_field :suggested_time %>
							<%= f.hidden_field :therapist_id, :value => therapist.id %>
							<%= f.hidden_field :client_id, :value => @client.id %>
							
							<div class="timezone-container">
								<label>Change my timezone <span style="font-weight: 600;">(currently <%= @time_zone %>)</span></label>
								<%= time_zone_select(:user, :time_zone, ActiveSupport::TimeZone.us_zones, default: time_zone_value_to_name(@time_zone) ) %>
							</div>
							
							<% string = "By clicking OK, you are confirming that you are not homicidal, suicidal, or abusing anyone and	agree to the Plain White Couch #{}Terms of Service and Privacy Policy" %>
							
							<%= f.submit "Submit", 
							:data => { confirm: "By clicking OK, you are confirming that you are not homicidal, suicidal, or abusing anyone and	agree to the Plain White Couch #{link_to('Terms of Service', '/terms', :target => "_blank")} and #{link_to('Privacy Policy', '/privacy', :target => "_blank")}" }, 
							:class => "submit_button_white button" %>
		
					<% end %>
	
				</div>
			</div>
		</div>
	</div>
</div>