	<% set_meta_tags :title => 'Our Therapists',
									 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
									 :reverse => false
	%>

<body id="therapist-index" ng-controller="TherapistsViewCtrl">
	<%= render 'layouts/navbar' %>
	
	<%#= render 'layouts/popups/tutorial_popup' %>
	
	<% content_for :title do %>
	  Therapists for Startup Founders
	<% end %>

	<% content_for :body do %>
	  <p>Find a San Francisco therapist that specializes in working with founders. We're testing this concept, and Dr. Milam Freitag is our pilot partner.</p>
		<%= form_for @emails, url: { controller: "therapists", action: "drop_email" } do |f| %>
			<div class="email-dropbox">
				<hr class='dashed-hr'>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
	<% end %>	

	<%= render 'layouts/header' %>
	
	<div class="audio-alert-bar-panel panel">
		<div class="alert-bar">
			--- As you start scrolling, video and audio will play. Mute videos by clicking the sound icon at the bottom right. ---
		</div>
	</div>
	
	<div class="audio-control-panel">
		<small class="audio-button-label">mute</small>
		<div class="audio-button unmuted"></div>
	</div>
	
	<% define_video_path_root %>
	
	<% @therapist.each do |therapist, index| %>
	
	<!-- Temporary code to hide sample therapists -->
	<% unless therapist.first_name == "Gene" || therapist.first_name == "Matthew" %>
	
		<div class='image-panel panel'>
			<div class="bg-container">
			</div>
		</div>

		<div class="panel profile-link-panel">
			<div class="bg-container closed">
	
				<div class="top-panel">
					<div class="container">
						<div class="four columns therapist-info-column">
							<div class="image-container info-section">
								<%= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
							</div>
							<div class="mobile title-container info-section">
								<h3><%= therapist.first_name %> <%= therapist.last_name %>, <%= therapist.degree %></h3>
								<h5> <%= therapist.title %>, <%= therapist.years %> years</h5>
							</div>
							
							<hr class="dashed-hr" style="border-color: #ccc;">
							<div class="therapist-contact-container info-section">
								<h4 class="contact-header">Contact</h4>
								<div class="info-container">
									<div><%= therapist.phone.to_s %></div>
									<div><%= therapist.user.email %></div>
									<div><%= therapist.address %></div>
									<div><%= therapist.city %>, <%= therapist.state %> <%= therapist.zipcode %></div>

								</div>
								<hr class="dashed-hr" style="border-color: #ccc;">
							</div>
							<!--
							<div class="cta-button-container info-section">
								<div class="cta-button chat-button"></div>
								<div class="button-header">
									Instantly send a secure message to <%= therapist.first_name %>
								</div>
							</div>
							<div class="cta-button-container info-section">

								<div class="cta-button schedule-button"></div>
								<div class="button-header">
									Schedule a time to talk with <%= therapist.first_name %>
								</div>
							</div>
								-->
								
						</div>
						
						<div class="twelve columns">
							<div class="profile-link-container">
								<div class="desktop title-container info-section">
									<h3><%= therapist.first_name %> <%= therapist.last_name %>, <%= therapist.degree %></h3>
									<h5> <%= therapist.title %>, <%= therapist.years %> years</h5>
								</div>
								<div class="bio-container">
									<h4 class="mobile">About</h4>
									<p class="card-bio"><%= therapist.bio %></p>
								</div>
								
								<hr class="dashed-hr" style="border-color: #ccc;">
								<div class="finances-container">
									<h4>Financial Information</h4>
									<div class="one-third column insurance column">
										<div class="finances-section">
											<h5>Insurance accepted:</h5>
											<ul>
												<li>Out of network</li>
											</ul>
										</div>
									</div>
									<div class="one-third column payments column">
										<div class="finances-section">
											<h5>Average cost:</h5>
											<p>$150</p>
											<p>Sliding Scale: yes</p>
										</div>
										<div class="finances-section">
											<h5>Payment methods accepted:</h5>
											<p>Credit Card, Cash, Check, Venmo</p>
										</div>
									</div>
								</div>
								<hr class="dashed-hr" style="border-color: #ccc;">
								<br>
					
								<div class="video-player-container">
									<div class="video-container">
										<% @name = therapist.first_name + "-" + therapist.last_name %>
										<%= video_tag @root + "videos/#{therapist.id}/intro.mp4", :size => "320x180", :id => "#{therapist.id}-video", :class => "video", :data => {:name => @name, :id => therapist.id} %>
										<div class="gif-container">
											<%= image_tag @root + "videos/#{therapist.id}/intro-gif.gif", :id => "#{@name}-gif", :class => "intro-gif", :data => {:name => @name, :id => therapist.id} %>
											<div class="gif-subtitles">
												"<%= therapist.intro_gif_subtitles %>"
											</div>
											
											<div class="gif-menu-button">
												<div class="gif-menu-line"></div>
												<div class="gif-menu-line"></div>
												<div class="gif-menu-line"></div>
											</div>
										</div>
									</div>
									<div class="video-control-panel" data-id="<%= therapist.id %>" data-name="matthew-krisiloff">
										<h5 style="color: #fff; font-size: 12px;">Start Ups</h5>
										<div class="video-button" data-type="<%= therapist.topics[0] %>" data-id="<%= therapist.id %>"><%= therapist.topics[0].titleize %></div>
										<div class="video-button" data-type="<%= therapist.topics[1] %>" data-id="<%= therapist.id %>"><%= therapist.topics[1].titleize %></div>
										
										<h5 style="color: #fff; font-size: 12px;">Other interests</h5>
										<div class="video-button" data-type="<%= therapist.topics[2] %>" data-id="<%= therapist.id %>"><%= therapist.topics[2].titleize %></div>
										<div class="video-button" data-type="<%= therapist.topics[3] %>" data-id="<%= therapist.id %>"><%= therapist.topics[3].titleize %></div>
										<div class="video-button" data-type="<%= therapist.topics[4] %>" data-id="<%= therapist.id %>"><%= therapist.topics[4].titleize %></div>
										
										
										<% therapist.topics.each do |topic| %>

										<!--
											<div class="video-button" data-type="<%= topic %>" data-id="<%= therapist.id %>"><%= topic.titleize %></div>
											-->
										<% end %>
										<div class="video-menu-ui play" data-type="play"></div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="bottom-panel">
					<div class="container expanded-profile-content">
						<div class="sixteen columns form-container">
							<%= form_for @event, url: { controller: "events", action: "initial_talk" } do |f| %>
			
							<!--
									<%= label_tag "Suggest two times to talk" %>

									<div class="datetime-container">
										<%= text_field(:suggested_times, :suggested_date1, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY" )  %>
										<%= text_field(:suggested_times, :suggested_time1, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
									</div>
									<div class="datetime-container">
										<%= text_field(:suggested_times, :suggested_date2, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY") %>
										<%= text_field(:suggested_times, :suggested_time2, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
									</div>
								-->
				
								<h3 style="margin-bottom: 10px;">Talk with <%= therapist.first_name %> for free.</h3>
				
								<div class="table-container" style="display: none;">
									<table border="0" cellpadding="0" cellspacing="0" id="time-table">
										<tbody>
							
											<!-- INIT TIME VARIABLES -->
											<% @adjusted_time = (Time.now + 1.day).in_time_zone(@time_zone) %>
															
											<!-- HEADER DATES -->
											<tr>
												<td class="blank-cell"><!-- BLANK CELL FOR CORNER --></td>
												<% (0..6).each do |i| %>
													<% @date = (@adjusted_time + i.days).strftime('%a, %b %d') %>
													<% @day = (@adjusted_time + i.days).day %>
													<th class="<%= @day %>"><%= @date %></th>
												<% end %>
											</tr>
						
											<!-- BODY -->
											<tr>
												<td class="times-column">
													<!-- hour range determined 24 hours times 2 -->
													<% (18..36).each do |i| %>
														<% define_time_variables(i) %>
														<div data-datetime="<%= @time %>" class="time-cell <%= "#{@h}#{@m}#{@i}" %>">
															<%= @time %>
														</div>
													<% end %>
												</td>
							
												<% (0..6).each do |i| %>
													<% @date = (@adjusted_time + i.days).strftime('%a, %b %d') %>
													<% @short_date = (@adjusted_time + i.days).strftime('%a') %>
													<% @day = (@adjusted_time + i.days).day %>
					
													<td class="select-column">
														<div class="select-cells">
															<% (18..36).each do |h| %>
																<% define_time_variables(h) %>
											
																<% if i == 0 %>
																	<% if h < (@adjusted_time + 1.hours).hour %>
																		<% @class = "disabled" %>
																	<% elsif h == (@adjusted_time + 3.hours).hour %>
																		<% @class = "today" %>
																	<% else %>
																		<% @class = "disabled" %>
																	<% end %>
																<% end %>
											
																<div data-day="<%= @day %>" data-time="<%= "#{@h}#{@m}#{@i}" %>" data-datetime="<%= @date + " " + @time %>" class="select-cell <%= @class %>">
																	<span><%= @short_date + " " + @time %></span>
																</div>
															<% end %>
														</div>
													</td>
						
												<% end %>
								
													<td>
														<div id="legend-container">
															<div class="legend legend-enabled"><span class="legend-label">Available</span></div>
															<div class="legend legend-disabled"><span class="legend-label">Unavailable</span></div>
															<div class="legend legend-today"><div></div><span class="legend-label">Today</span></div>
														</div>
													</td>
										
											</tr>
						
										</tbody>
									</table>
					
								</div>
									
									<%= f.label :email, "Provide your email and Milam will get in touch with you." %>
									<%= f.text_field :email, :placeholder => 'john@example.com', :class => "email-field" %>
					
									<%= f.hidden_field :suggested_time %>
									<%= f.hidden_field :therapist_id, :value => therapist.id %>
					
									<%= f.submit "Submit", 
									:data => { confirm: "By clicking OK, you are confirming that you are not homicidal, suicidal, or abusing anyone and	agree to the Plain White Couch #{link_to('Terms of Service', '/terms', :target => "_blank")} and #{link_to('Privacy Policy', '/privacy', :target => "_blank")}" }, 
									:class => "submit-button white button" %>

							<% end %>

						</div>
					</div>
				</div>
	
			</div>
		</div>
		
		
		
	<% end %>
	<% end %>

</body>