<% page_title "Our Therapists" %>

<body id="therapist-index">
	<% content_for :title do %>
	  Click a Peer Counselor. Choose a time.
	<% end %>

	<% content_for :body do %>
	  <p>We will soon have more peer counselors to choose from. If you don't see someone you like, we can email you with new options. <span style="font-weight: 600;"><a id="open-email-dropbox">Click here</a></span>.</p>
		<%= form_for @user, url: { controller: "users", action: "drop_email" } do |f| %>
			<div class="email-dropbox">
				<hr class='dashed-hr'>
				<%= f.hidden_field :id %>	
				<%= f.hidden_field :flag_therapist, :value => true %>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
	<% end %>	

	<%= render 'layouts/header' %>

	<% @therapist.each_with_index do |therapist, index| %>
		<% @therapist_id = therapist.id %>
		<% if @therapist_id == 3 %>
		<% else %>
			<div class='image-panel<%= index %> image-panel panel'>
				<div class="bg-container">
					<div class="container">
						<h1></h1>
					</div>
				</div>
			</div>
			<%= render 'layouts/index_profile', :therapist => therapist %>
		<% end %>
	<% end %>
</body>