	<% set_meta_tags :title => 'Our Therapists',
									 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
									 :reverse => false
	%>

<body id="therapist-index" ng-controller="TherapistsViewCtrl">
	<%= render 'layouts/navbar' %>
	
	<%#= render 'layouts/popups/tutorial_popup' %>
	
	<% content_for :title do %>
	  Browse San Francisco Therapists
	<% end %>

	<% content_for :body do %>
	  <p>We've just started PsychDate, and this is just a test page. The listings below are samples and not representative of licensed clinicians. <span style="font-weight: 600">As you start scrolling, video and audio will play.</span></p>
		<%= form_for @emails, url: { controller: "therapists", action: "drop_email" } do |f| %>
			<div class="email-dropbox">
				<hr class='dashed-hr'>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
	<% end %>	

	<%= render 'layouts/header' %>
	
	<div class="audio-alert-bar-panel panel">
		<div class="alert-bar">
			--- As you start scrolling, video and audio will play. Mute videos by clicking the sound icon at the bottom right. ---
		</div>
	</div>
	
	<div class="audio-control-panel">
		<small class="audio-button-label">mute</small>
		<div class="audio-button unmuted"></div>
	</div>
	
	<% define_video_path_root %>
	
	<% @therapist.each do |therapist, index| %>
	
		<div class='image-panel panel'>
			<div class="bg-container">
			</div>
		</div>

		<div class="panel profile-link-panel">
			<div class="bg-container closed">
	
				<div class="top-panel">
					<div class="container">
						<div class="four columns therapist-info-column">
							<div class="image-container info-section">
								<%= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
							</div>
							<div class="title-container info-section">
								<h3><%= therapist.first_name %> <%= therapist.last_name %></h3>
								<h5> <%= therapist.title %>, <%= therapist.years %> years</h5>
							</div>
							
							<hr class="dashed-hr" style="border-color: #ccc;">
							<div class="therapist-contact-container info-section">
								<h4 class="contact-header">Contact</h4>
								<div class="info-container">
									<div><%= therapist.phone.to_s %></div>
									<div><%= therapist.user.email %></div>
									<div><%= therapist.address %></div>
									<div><%= therapist.city %>, <%= therapist.state %> <%= therapist.zipcode %></div>

								</div>
								<hr class="dashed-hr" style="border-color: #ccc;">
							</div>
							<div class="cta-button-container info-section">
								<div class="cta-button chat-button"></div>
								<div class="button-header">
									Instantly send a secure message to <%= therapist.first_name %>
								</div>
							</div>
							<div class="cta-button-container info-section">

								<div class="cta-button schedule-button"></div>
								<div class="button-header">
									Schedule a time to talk with <%= therapist.first_name %>
								</div>
							</div>
						</div>
						
						<div class="twelve columns">
							<div class="profile-link-container">
								<div class="bio-container">
									<p class="card-bio"><%= therapist.bio %></p>
								</div>
								
								<hr class="dashed-hr" style="border-color: #ccc;">
								<div class="finances-container">
									<h4>Financial Information</h4>
									<div class="one-third column insurance column">
										<div class="finances-section">
											<h5>Insurance accepted:</h5>
											<ul>
												<li>Aetna</li>
												<li>Anthem BlueCross BlueShield</li>
												<li>Out of network</li>
											</ul>
										</div>
									</div>
									<div class="one-third column payments column">
										<div class="finances-section">
											<h5>Average cost:</h5>
											<p>$80-$120</p>
										</div>
										<div class="finances-section">
											<h5>Payment methods accepted:</h5>
											<p>Paypal, Bank Transfer, Venmo</p>
										</div>
									</div>
								</div>
								<hr class="dashed-hr" style="border-color: #ccc;">
								<br>
					
								<div class="video-player-container">
									<div class="video-container">
										<% @name = therapist.first_name + "-" + therapist.last_name %>
										<%= video_tag @root + "videos/#{therapist.id}/intro.mp4", :size => "320x240", :id => "#{therapist.id}-video", :class => "video", :data => {:name => @name, :id => therapist.id} %>
										<div class="gif-container">
											<%= image_tag @root + "videos/#{therapist.id}/intro-gif.gif", :id => "#{@name}-gif", :class => "intro-gif", :data => {:name => @name, :id => therapist.id} %>
											<div class="gif-subtitles">
												"<%= therapist.intro_gif_subtitles %>"
											</div>
											
											<div class="gif-menu-button">
												<div class="gif-menu-line"></div>
												<div class="gif-menu-line"></div>
												<div class="gif-menu-line"></div>
											</div>
										</div>
									</div>
									<div class="video-control-panel" data-id="<%= therapist.id %>" data-name="matthew-krisiloff">
										<% therapist.topics.each do |topic| %>
											<div class="video-button" data-type="<%= topic %>" data-id="<%= therapist.id %>"><%= topic.titleize %></div>
										<% end %>
										<div class="video-menu-ui play" data-type="play"></div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
	
			</div>
		</div>
		
	<% end %>

</body>