<% page_title "Our Therapists" %>

<%= render 'layouts/tutorial_panel' %>

<%= render 'layouts/navbar' %>

<body id="therapist-index">
	<% content_for :title do %>
	  Click a therapist, suggest a time.
	<% end %>

	<% content_for :body do %>
	  <p>We will soon have more therapists to choose from. If you don't see someone you like, we can email you with new options. <span style="font-weight: 600;"><a id="open-email-dropbox">Click here</a></span>.</p>
		<%= form_for @emails, url: { controller: "therapists", action: "drop_email" } do |f| %>
			<div class="email-dropbox">
				<hr class='dashed-hr'>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
	<% end %>	

	<%= render 'layouts/header' %>

	<% @therapist.each_with_index do |therapist, index| %>
		<% unless therapist.last_name == "Krisiloff" || therapist.last_name == "Morrissey" %>
			<div class='image-panel<%= index %> image-panel panel'>
				<div class="bg-container">
					<div class="container">
						<h1></h1>
					</div>
				</div>
			</div>
		<% end %>
		<%= render 'layouts/index_profile', :therapist => therapist %>
	<% end %>
</body>