	<% set_meta_tags :title => 'Our Therapists',
									 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
									 :keywords => 'IM, Instant, Message, Chat, Therapist, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Video, Confidential, Plain, White, Couch, eTherapy, Teletherapy',
									 :reverse => false
	%>

<%= render 'layouts/navbar' %>

<body id="therapist-index" ng-controller="TherapistsViewCtrl">
	<%= render 'layouts/tutorial_popup' %>
	
	<% content_for :title do %>
	  Suggest two times to talk. Easy as that.
	<% end %>

	<% content_for :body do %>
	  <p>We've just started Plain White Couch, so we only have one therapist to choose from (and she's great!). If you don't wish to speak with her though, we can email you soon with other options. <span style="font-weight: 600;"><a id="open-email-dropbox">Click here</a></span>.</p>
		<%= form_for @emails, url: { controller: "therapists", action: "drop_email" } do |f| %>
			<div class="email-dropbox">
				<hr class='dashed-hr'>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
	<% end %>	

	<%= render 'layouts/header' %>

	<% @therapist.each_with_index do |therapist, index| %>
		<% if therapist.last_name == "Cruz" %>
			<div class='image-panel<%= index %> image-panel panel'>
				<div class="bg-container">
					<div class="container">
						<h1></h1>
					</div>
				</div>
			</div>
			<%= render 'therapists/index_profile', :therapist => therapist %>
		<% end %>
	<% end %>
</body>