	<% set_meta_tags :title => 'Our Therapists',
									 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
									 :reverse => false
	%>

<body id="therapist-index" ng-controller="TherapistsViewCtrl">
	<%= render 'layouts/navbar' %>
	
	<%#= render 'layouts/popups/tutorial_popup' %>
	
	<% content_for :title do %>
	  Browse San Francisco Therapists
	<% end %>

	<% content_for :body do %>
	  <p>We've just started PsychDate, and this is just a test page. The listings below are samples and not representative of licensed clinicians. <span style="font-weight: 600">As you start scrolling, video and audio will play.</span></p>
		<%= form_for @emails, url: { controller: "therapists", action: "drop_email" } do |f| %>
			<div class="email-dropbox">
				<hr class='dashed-hr'>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
	<% end %>	

	<%= render 'layouts/header' %>
	
	<div class="alert-bar-panel panel">
		<div class="alert-bar">
			vvv--- As you start scrolling, video and audio will play. Mute videos by clicking the sound icon at the bottom right. ---vvv
		</div>
	</div>
	
	<div class="audio-control-panel">
		<small class="audio-button-label">mute</small>
		<div class="audio-button unmuted"></div>
	</div>
	
	<% define_video_path_root %>
	
	<% @therapist.each do |therapist, index| %>
	
		<div class='image-panel panel'>
			<div class="bg-container">
			</div>
		</div>

		<div class="panel profile-link-panel">
			<div class="bg-container closed">
	
				<div class="top-panel">
					<div class="container">
						<div class="four columns therapist-info-column">
							<%= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
							<div class="therapist-contact-container">
								<div class="contact-header">Contact</div>
								<hr class="dashed-hr" style="border-color: #ccc;">
								<div class="info-container">
									<div><%= therapist.phone.to_s %></div>
									<div><%= therapist.user.email %></div>
									<div>401 Twin Oaks Lane</div>
									<div>Walnut Creek, CA 94546</div>
								</div>
							</div>
						</div>
						
						<div class="twelve columns">
							<div class="profile-link-container">
								<h3><%= therapist.first_name %> <%= therapist.last_name %>
									<span> / <%= therapist.title %>, <%= therapist.years %> years</span>
								</h3>
								<div class="bio-container">
									<p class="card-bio"><%= therapist.bio %></p>
								</div>
								<br>
					
								<div class="video-player-container">
									<div class="video-container">
										<% @name = therapist.first_name + "-" + therapist.last_name %>
										<%= video_tag @root + "therapists/videos/#{therapist.id}/intro.mp4", :size => "320x240", :id => "#{@name}-video", :class => "video", :data => {:name => @name, :id => therapist.id} %>
										<div class="gif-container">
											<%= image_tag @root + "therapists/videos/#{therapist.id}/intro-gif.gif", :id => "#{@name}-gif", :class => "intro-gif", :data => {:name => @name, :id => therapist.id} %>
											<div class="gif-subtitles">
												"<%= therapist.intro_gif_subtitle %>"
											</div>
											
											<div class="gif-menu-button">
												<div class="gif-menu-line"></div>
												<div class="gif-menu-line"></div>
												<div class="gif-menu-line"></div>
											</div>
										</div>
									</div>
									<div class="video-control-panel" data-id="<%= therapist.id %>" data-name="matthew-krisiloff">
										<% therapist.topics.all.each do |topic| %>
											<div class="video-button" data-type="<%= topic %>"><%= topic.titleize %></div>
										<% end %>
										<div class="video-menu-ui play" data-type="play"></div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
	
			</div>
		</div>
		
	<% end %>

			<div class='image-panel panel'>
				<div class="bg-container">
				</div>
			</div>
			
			<div class="panel profile-link-panel closed">
				<div class="bg-container closed">
		
					<div class="top-panel">
						<div class="container">
							<div class="four columns therapist-info-column">
								<%#= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
								<%= image_tag @root + "matthew-krisiloff/picture2.jpg" %>
								<div class="therapist-contact-container">
									<div class="contact-header">Contact</div>
									<hr class="dashed-hr" style="border-color: #ccc;">
									<div class="info-container">
										<div>213.493.1586</div>
										<div>mattkrisiloff@gmail.com</div>
										<div>401 Twin Oaks Lane</div>
										<div>Walnut Creek, CA 94546</div>
									</div>
								</div>
							</div>
							
							<div class="twelve columns">
								<div class="profile-link-container">
									<h3>Matthew Krisiloff
										<span> / Marriage and Family Therapist, 4 years</span>
									</h3>
									<div class="bio-container">
										<p class="card-bio">The scroll event is sent to an element when the user scrolls to a different place in the element. It applies to window objects, but also to scrollable frames and elements with the overflow CSS property set to scroll (or auto when the element's explicit height or width is less than the height or width of its contents).</p>
									</div>
									<br>
						
									<div class="video-player-container">
										<div class="video-container">
											<%= video_tag @root + "matthew-krisiloff/intro.mp4", :size => "320x240", :id => "matthew-krisiloff-video", :class => "video" %>
											<div class="gif-container">
												<%= image_tag @root + "matthew-krisiloff/intro-gif.gif", :id => "matthew-krisiloff-gif", :class => "intro-gif" %>
												<div class="gif-subtitles">
													"Hi, my name's Matthew Krisiloff and I'm a Marriage and Family Therapist."
												</div>
												
												<div class="gif-menu-button">
													<div class="gif-menu-line"></div>
													<div class="gif-menu-line"></div>
													<div class="gif-menu-line"></div>
												</div>
											</div>
										</div>
										<div class="video-control-panel" data-name="matthew-krisiloff">
											<div class="video-button" data-type="startups">Start Ups</div>
											<div class="video-button" data-type="anxiety">Anxiety</div>
											<div class="video-button" data-type="depression">Depression</div>
											<div class="video-button" data-type="couples">Couples</div>
											<div class="video-button" data-type="lgbt">LGBT</div>
											<div class="video-menu-ui play" data-type="play"></div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
		
				</div>
			</div>
			
			
			<div class='image-panel panel'>
				<div class="bg-container">
				</div>
			</div>
			
			<div class="panel profile-link-panel closed">
				<div class="bg-container closed">
		
					<div class="top-panel">
						<div class="container">
							<div class="four columns therapist-info-column">
								<%= image_tag @root + "gene-lee/picture.jpg" %>
								
								<div class="therapist-contact-container">
									<div class="contact-header">Contact</div>
									<hr class="dashed-hr" style="border-color: #ccc;">
									<div class="info-container">
										<div>213.493.1586</div>
										<div>genejaelee@gmail.com</div>
										<div>401 Twin Oaks Lane</div>
										<div>Walnut Creek, CA 94546</div>
									</div>
									<%#= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
								</div>
							</div>
							
							<div class="twelve columns">
								<div class="profile-link-container">
									<h3>Gene Lee
										<span> / Licensed Clinical Social Worker, 6 years</span>
									</h3>
									<div class="bio-container">
										<p class="card-bio">The scroll event is sent to an element when the user scrolls to a different place in the element. It applies to window objects, but also to scrollable frames and elements with the overflow CSS property set to scroll (or auto when the element's explicit height or width is less than the height or width of its contents).</p>
									</div>
									<br>
						
									<div class="video-player-container">
										<div class="video-container">
											<%= video_tag @root + "gene-lee/intro.mp4", :size => "320x240", :id => "gene-lee-video", :class => "video" %>
											<div class="gif-container">
												<%= image_tag @root + "gene-lee/intro-gif.gif", :id => "gene-lee-gif", :class => "intro-gif" %>
												<div class="gif-menu-button">
													<div class="gif-menu-line"></div>
													<div class="gif-menu-line"></div>
													<div class="gif-menu-line"></div>
												</div>
												<div class="gif-subtitles">
													"Hi, my name's Gene Lee and I'm a Licensed Clinical Social Worker."
												</div>
											</div>
										</div>
										<div class="video-control-panel" data-name="gene-lee">
											<div class="video-button" data-type="startups">Start Ups</div>
											<div class="video-button" data-type="anxiety">Anxiety</div>
											<div class="video-button" data-type="depression">Depression</div>
											<div class="video-button" data-type="creatives">Artists</div>
											<div class="video-button" data-type="multicultural">Multicultural</div>
											<div class="video-menu-ui play" data-type="play"></div>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
		
				</div>
			</div>
	
	<%= render :partial => 'layouts/analytics/browse_click_conversion' %>
</body>