<% content_for :title do %>
  What's on your mind?
<% end %>

<% content_for :body do %>
  <p>We want to assure you that the privacy and security of your information is our number one priority. With that in mind, please write what you want to ask or share with a therapist.</p>
<% end %>

<%= render 'layouts/header' %>

<div class="panel signup-panel">
	<div class="bg-container">
		<div class="container">
			<%= form_for @user, url: { controller: "users", action: "update" } do |f| %>
			
				<%= f.text_area :description, 
												:onkeyup => "textAreaAdjust(this)",
												:autofocus => "true",
												:id => "explanation-text", 
												:placeholder => "Write here..." %>
				<span class="sixteen columns" id="counter-text"></span>
				
				<%= render 'shared/error_messages' %>
				
				<%= f.submit "Almost done", :class => "submit_button_white button sixteen columns" %>
			<% end %>
				

		</div>	
	</div>
</div>