<% set_meta_tags :title => 'My Page',
                 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
                 :keywords => 'IM, Instant, Message, Chat, Therapist, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Video, Confidential, Plain, White, Couch, eTherapy, Teletherapy',
								 :reverse => true,
								 :separator => '-' 
%>

<% page_title "Portal" %>

<script type="text/javascript">
	paid = "<%= session[:paid] %>";
</script>

<body ng-controller="UsersViewCtrl">
	
<%= render :partial => 'layouts/popups/paid_popup' %>

<%= render :partial => 'layouts/navbar' %>

<% content_for :title do %>
  Your Page
<% end %>

<% content_for :body do %>
  <p>This is where you see any appointments you are set up for. Click the "Chat Room" link to access your private chat room with the appointee. Questions? Email us at <a href="mailto:plainwhitecouch@gmail.com">plainwhitecouch@gmail.com</a></p>

<% end %>

<%= render 'layouts/header' %>

<div class="panel" id="user-profile">
	<div class="bg-container">
		<div class="container">
			<div class="appointments-header">
				<h3>Your appointments</h3>
			</div>
			<div class="appointments-container">
				<% if current_user.role_type == "Client" && current_user.role.events.present? %>
					<%= render :partial => 'users/client_page' %>
				<% elsif current_user.role_type == "Therapist" && current_user.role.events.present? %>
					<%= render :partial => 'users/therapist_page' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

</body>