<% content_for :title do %>
  Almost done!
<% end %>

<% content_for :body do %>
  <p>We want to assure you that the privacy and security of your information is our number one priority. With that, we need a little more information to get you the best match possible.</p>
<% end %>

<%= render 'layouts/header' %>

<div class="panel signup-panel">
	<div class="bg-container">
		<div class="container">
			<%= form_for @user, url: { controller: "users", action: "finish" } do |f| %>
				
				<%= label_tag :name, "What's your name?"%>
				<%= f.text_field :name, :autofocus => "true", :placeholder => "First name (optional)" %>
				
				<%= label_tag :gender, "What is your gender?" %>
				<%= f.select(:gender, [['Male', 'Male'], ['Female', 'Female'], ['Other', 'Other']]) %>
				
				<%= label_tag :age, "How old are you?" %>
				<%= f.text_field :age, :placeholder => "ex. 19" %>
				
				<%= label_tag :insurance, "If you have an insurance provider let us know who. If not, enter 'don't know'" %>
				<%= f.text_field(:insurance, :placeholder => "ex. Blue Cross")%>
				
				<%= render 'shared/error_messages' %>
				
				<%= f.submit "Submit", :class => "submit_button_white button sixteen columns" %>
			<% end %>
				

		</div>	
	</div>
</div>