<% page_title "Edit Your Profile" %>

<%= render 'layouts/header' %>

<div class="panel signup-panel">
	<div class="bg-container">
		<div class="container">
			
			<h2 class="edit-headers">Edit Account Details</h2>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				  <%= devise_error_messages! %>

				  <div><%= f.label :email %>
				  <%= f.email_field :email, autofocus: true %></div>

				  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				  <% end %>

			  	<%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i>
			    <%= f.password_field :password, autocomplete: "off" %>

			  	<%= f.label :password_confirmation, "New password confirmation" %>
			    <%= f.password_field :password_confirmation, autocomplete: "off" %>
					
					<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
					<%= f.password_field :current_password, autocomplete: "off" %>

			  	<%= f.submit "Update Account", :class => "submit_button_white button" %>
			<% end %>
			
			<% if current_user.role_type == "Therapist" %>
			
				<hr class="edit-divider"></hr>
			
				<h2 class="edit-headers">Edit Profile Details</h2>
			
				<%= render 'layouts/therapist_edit_form' %>
				
			<% end %>


<p><%= button_to "Cancel my account", registration_path(resource_name), :class => "submit_button_red button", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

		</div>	
	</div>
</div>