<!-- render javascript partials specific to chat -->
<% content_for :head do %>
<% end %>

<% content_for :title do %>
  Chat with your therapist.
<% end %>

<% content_for :body do %>
  <p></p>
<% end %>

<!--
<%= render 'layouts/header' %>
-->

<% if params[:msg] == "none" %>
	<% msg_mode = "none" %>
<% end %>

<script type="text/javascript">
	// Set the globals used by chat.js
	channel = "<%= @chat.channel %>";
	chat_id = "<%= @chat.id %>";
	user_id = "<%= @user.id %>";
	user_nickname = "<%= @user.nickname %>";
	msg_mode = "<%= msg_mode %>";
	var PUSHER_KEY = '<%= Pusher.key %>'
</script>

<div id="chatroom" ng-controller="ChatsViewCtrl as viewCtrl">
	
<%= render :partial => 'chats/chat_popup' %>

<div class="left-panel chat-panel">
	<div id="chat-navbar">
		<p>
			Test Chatroom. All records are deleted upon leaving.
		</p>
	</div>
	
	<div class="messages-panel">
		<div class="container">
			<div id="chat-notification-container">
				<div id="chat-notification" ng-show="notification.status" ng-model="notification">
					<strong>{{ notification.nickname }}</strong>
					<i>is typing...</i>
				</div>
			</div>
			<ul scroll-glue id="messages">
				<div class="messages-container">
					<% @messages.each_with_index do |message, index| %>
						<% user = ChatUser.find(message.user_id) %>
						<div class="message-container">
							<li <% if user.id == @user.id %> 
									class="you"
									<% else %>
									class="them"
									<% end %>>
								
									<%= puts "#{@messages[index].user_id}" %>
									<% unless (@messages[index - 1].user_id == message.user_id) && index != 0 %>
										<br>
										<span class="nickname-said"><strong class="nickname"><%= user.nickname %>&nbsp</strong>said:</span>
									<% end %>
								<!--
								<span class="timestamps">
									<% unless message.created_at.nil? %>
										<%= message.created_at.in_time_zone(user.time_zone).strftime('%a %I:%M %p %Z') %>
									<% end %>
								</span>
								<br>
									-->
								<div class="message-wrapper">
									<div class="message">
										<p><%= message.message %></p>
									</div>
								</div>
							</li>
						</div>
					<% end %>
				</div>
				<div class="messages-container">
					<div class="message-container" ng-repeat="message in messages track by $id(message)">
						<li ng-class="checkSender(message.user.id)">
							<span class="nickname-said" ng-nickname ng-model="message.user.nickname" index={{$index}} last-id='{{messages[$index - 1].user.id}}' this-id={{message.user.id}} message="message"><strong class="nickname" ng-model="message.user.nickname">{{ message.user.nickname }} </strong>said:</span>
							<div class="message-wrapper">
								<div class="message">
									<p ng-model="message.text">{{ message.text }}</p>
								</div>
							</div>
						</li>
					</div>
					
					<div class="note" ng-repeat="presence in notifications"><strong>{{ presence.nickname }}</strong> {{ presence.message }}</div>
					
				<div id="spinner" class="spinner" ng-show="messageSending">
					<div class="spinner-container">
						<%= image_tag("loading.gif", :alt => "Loading") %>
					</div>
				</div>
			</ul>
		</div>
	</div>
		
	<div class="chat-input-panel">
		<textarea id="message" name="message" placeholder="Type your message here and hit enter..." ng-enter="postMessage()" ng-model="message_text"></textarea>
	</div>
		
</div>

<div class="sidebar">
	<div class="sidebar-container">
		<%= render 'layouts/logo' %>
		<hr>
		<%= render :partial => 'twilio/call' %>
		<hr>
		<div class="helplines-button-container sidebar-section">
			<p style="margin-bottom: 5px; color: #fff;">Helpful Resources</p>
			<button class="helplines-button">Helplines</button>
		</div>
		<hr>
		<% if current_user.role_type == "Therapist" %>
		<div class="timer-button-container sidebar-section">
			<p style="margin-bottom: 5px; color: #fff;">Timer Controls</p>
			<button class="timer-start-button">Start</button>
			<button class="timer-toggle-button" style="display: none;">Pause</button>
			<button class="timer-reset-button">Reset</button>
		</div>
		<hr>
		<% elsif current_user.role_type == "Client" %>
		<% end %>
	</div>
	<div ng-controller="ChatsViewCtrl">
		<h1>{{ title }}</h1>
	</div>
	
	<div class="sidebar-clock">
		<div class="clock-circle" id="clock-back">
			<span class="timer notstarted">Hello.<div data-time="-0m -0s"></div></span>
		</div>
		<div class="clock-circle" id="clock-front">
			<div class="content clock-circle-concentric">
				<p>timer</p>
			</div>
		</div>
	</div>
</div>

<div id="sidebar-cards">
	<div id="helplines-card" class="sidebar-card closed">
		<div class="helplines-container">
			<div class="sixteen columns" id="helpline-header">
			</div>
			<dl class="font-sans collapse sixteen columns" id="helplines">
				<h3>Helplines</h3>
				<hr>
	        <div class="helpline-container">
		        <dt>Suicide Prevention Lifeline</dt>
		        <dd>1-800-273-TALK(8255) or 1-800-SUICIDE(7842433)</dd>
					</div>
					<div class="helpline-container">
		        <dt>Sexual Assault Hotline</dt>
		        <dd>(574)-254-7473</dd>    
					</div>
					<div class="helpline-container">
		        <dt>US Veterans Crisis Hotline</dt>
		        <dd>1-800-273-TALK(8255)</dd>
					</div>
					<div class="helpline-container">
		        <dt>Center to Prevent Youth Violence</dt>
		        <dd>1-866-773-2587</dd>
					</div>
					<div class="helpline-container">
		        <dt>National Runaway Switchboard</dt>
		        <dd>1-800-RUNAWAY</dd>
					</div>
					<div class="helpline-container">
		        <dt>The Trevor Project for LGBT teens</dt>
		        <dd>1-800-488-7386</dd>
					</div>
					<div class="helpline-container">
		        <dt>Teen Line</dt>
		        <dd><a href="http://teenlineonline.org" target="_blank">teenlineonline.org</a></dd>
					</div>
					<div class="helpline-container">
		        <dt>Safe Haven for self-injurers</dt>
		        <dd><a href="http://gabrielle.self-injury.net" target="_blank">gabrielle.self-injury.net</a></dd> 
					</div>
					<div class="helpline-container">
		        <dt>Al-Anon / Alateen</dt>
		        <dd><a href="http://www.al-anon.alateen.org" target="_blank">www.al-anon.alateen.org</a></dd>
					</div>
				</div>
	    </dl>
		</div>
	</div>
</div>

</div>