<div class="calendar-form-container">	
	<div class="sixteen columns">
		<h1>Get a call from <%= therapist.first_name %></h1>
	</div>
	<div class="four columns spacer">&nbsp;</div>
	<div class="eight columns">
		<hr>
	</div>
	<div class="four columns spacer">&nbsp;</div>
	<div class="eight columns datepicker-container">
	</div>
	<div class="eight columns form-container">
		<%= form_for @event, url: { controller: "events", action: "create" } do |f| %>
	
			<%= f.label "Choose a date" %>
			<%= f.text_field :start_date, :class => "date-field", :placeholder => "MM/DD/YYYY" %>
	
			<%= f.label "Choose a time" %>
			<%= f.text_field :start_time, :class => "time-field", :placeholder => "HH:MM PM" %>
	
			<%= f.hidden_field :therapist_id, :value => @therapist_id %>
			<%= f.hidden_field :user_id, :value => @_current_user.id %>
	
			<%= f.submit "Request Appointment", :class => "submit_button_white button" %>
		<% end %>
	</div>
</div>