<div class="calendar-form-container">	
	<div class="sixteen columns">
		<h1>Have <%= therapist.first_name %> call you.</h1>
	</div>
	<div class="four columns spacer">&nbsp;</div>
	<div class="eight columns">
		<hr>
	</div>
	<div class="four columns spacer">&nbsp;</div>
	<div class="eight columns datepicker-container">
	</div>
	<div class="eight columns form-container">
		<%= form_for @event, url: { controller: "events", action: "create" } do |f| %>
	
			<%= f.label "Choose a date" %>
			<%= f.text_field :start_date, :class => "date-field", :placeholder => "MM/DD/YY" %>
	
			<%= f.label "Choose a time" %>
			<%= f.text_field :start_time, :class => "time-field", :placeholder => "HH:MM PM" %>
				
	
			<%= f.hidden_field :therapist_id, :value => @therapist_id %>
			<%= f.hidden_field :client_id, :value => @client.id %>
			<%= f.hidden_field :time_zone, :value => @client.time_zone %>
	
			<%= f.submit "Request a Call", 
			:data => { confirm: "By clicking OK, you are confirming that you are not homicidal, suicidal, or abusing anyone and	agree to the Scouter Terms of Service and Privacy Policy" }, 
			:class => "submit_button_white button" %>
		<% end %>
		
		<!--
		<p style="color: #fff;">Sorry, all available appointments during the next week are booked. We can notify you via email when an appointment is available.</p>
		
		<%= form_for @client, url: { controller: "clients", action: "drop_email" } do |f| %>
			<div class="email-dropbox2">
				<%= f.hidden_field :id %>	
				<%= f.hidden_field :flag_therapist, :value => true %>
				<%= f.text_field :email, :placeholder => "john@example.com" %>
				<%= f.submit "Submit", :class => "submit_button_white button" %>
			</div>
		<% end %>
			-->
		
	</div>
</div>