<div class="goal-form-container">
	<div class="sixteen columns form-container">
		<%= form_for @event, url: { controller: "events", action: "create" } do |f| %>
	
			<div class="container">
				<p>I wish:</p>
				<%= f.text_field :description, :id => "goal-text-field", :style => "display:inline-block;", :placeholder => "I was less anxious in social situations." %>
			</div>
				<%= f.hidden_field :therapist_id, :value => @therapist_id %>
				<%= f.hidden_field :client_id, :value => @client.id %>
			
			<div class="sixteen columns spacer examples-container-header">
				<%= f.label "What others have posted:", :style => "text-align: left;" %>
				<hr>
			</div>
			
			<%= render 'layouts/examples' %>
			
			<div class="sixteen columns">
				<%= f.submit "Submit", 
				:data => { confirm: "By clicking OK, you are confirming that you are not homicidal, suicidal, or abusing anyone and	agree to the Scouter Terms of Service and Privacy Policy" }, 
				:class => "submit_button_white button" %>
			</div>
			
		<% end %>
		
	</div>
</div>