<div class="gen-header">
	<div class="bg-container">
		<div class="container">
			<%= render 'layouts/logo' %>
			<div class="sixteen columns" id="copy-container">
				<h1><%= yield :title %></h1>
				<%= yield :body %>
			</div>
			<% flash.each do |key, value| %>
				<div style="color: #fff; padding: 10px;" class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= render 'shared/error_messages' %>
			<%= yield :arrow_down_option %>
		</div>
	</div>
</div>