<div class="gen-header">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="logo-banner">
				<%= link_to image_tag("couch-logo5.png", height: "60px", class: "top-logo"), homepage_path %>
			</div>
			<div class="sixteen columns" id="copy-container">
				<h1><%= yield :title %></h1>
				<%= yield :body %>
			</div>
			<% flash.each do |key, value| %>
				<div style="color: #fff; padding: 10px;" class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield :arrow_down_option %>
		</div>
	</div>
</div>