<div class="panel profile-link-panel closed" data-id="<%= therapist.id %>">
	<div class="bg-container closed">
		<div class="top-panel">
			<span class="tap-plus-sign">+</span>
			<div class="container">
				<div class="four columns therapist-image-container">
					<%= retina_image_tag(therapist, :avatar, :small, :default => [200,200]) %>
				</div>
				<div class="twelve columns">
					<div class="profile-link-container">
						<h3><%= therapist.first_name %> <%= therapist.last_name %>
							<span> / <%= therapist.title %>, <%= therapist.degree %></span></h3>
						<h3><span><%= therapist.school_name %></span></h3>
						<p class="card-bio"><%= therapist.bio %></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bottom-panel">
			<div class="container expanded-profile-content">
				<%= render 'layouts/goal_form', :therapist => therapist %>
			</div>
		</div>
	</div>
</div>