<div class="panel" id="navbar-panel">
	<div class="bg-container">
		<div class="navbar">
			<% if user_signed_in? %>
				<div class='navbar-links'>
			
					<%= button_to 'My Page', show_my_profile_url, method: :get, :class => 'navbar-link' %>
				  <%= button_to 'Edit', edit_user_registration_url, method: :get, :class => 'navbar-link' %>
				  <%= button_to "Logout", destroy_user_session_url, method: :delete, :class => 'navbar-link'  %>
					<div class="email">
						<p>Logged in: <%= current_user.email %></p>
					</div>
				</div>

			<% else %>
				<div class="navbar-links">
				  <%= button_to "Login", new_user_session_url, :class => 'navbar-link'  %>
				</div>
			<% end %>
		</div>
	</div>
</div>