<div class="gen-header header-tall" id="profile-header">
	<div class="bg-container">
		<div class="container">
			
			<div class="sixteen columns">
				<h1><%= therapist.first_name %> <%= therapist.last_name %> </h1>
				<h3><%= therapist.title %> / <%= therapist.degree %></h3>
			</div>
			<div class="four columns">&nbsp;</div>
			<div class="eight columns">
				<hr>
				<ul class="nav-container">
					<li class="nav-item" id="welcome-nav-item">
						Welcome
					</li>
					<li class="nav-item" id="about-therapy-nav-item">
						About Therapy
					</li>
					<li class="nav-item" id="about-nav-item">
						About Me
					</li>
					<li class="nav-item" id="contact-nav-item">
						Contact
					</li>
				</ul>
			</div>
			<div class="sixteen columns">
				<%= link_to "Schedule an appointment", create_appointment_path %>
			</div>
			<%= yield :arrow_down_option %>
		</div>
	</div>
</div>