<br>
<h2>Session details</h2>

		<%= label_tag "Suggest three times to talk" %>
	
		<div class="datetime-container">
			<%= text_field(:suggested_times, :suggested_date1, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY") %>
			<%= text_field(:suggested_times, :suggested_time1, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
		</div>
		<div class="datetime-container">
			<%= text_field(:suggested_times, :suggested_date2, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY") %>
			<%= text_field(:suggested_times, :suggested_time2, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
		</div>
		<div class="datetime-container">
			<%= text_field(:suggested_times, :suggested_date3, :class => "date-field", :required => "true", :placeholder => "MM/DD/YYYY") %>
			<%= text_field(:suggested_times, :suggested_time3, :class => "time-field", :required => "true", :placeholder => "HH:MMpm") %>
		</div>
		
		<br>
		
		<% @event = get_a_event_for_user %>
		<% @therapist = check_presence_and_find_by_id(Therapist, @session_therapist_id) %>

		<%= f.fields_for @event do |event_form| %>
			<% unless @therapist.nil? %>
				<%= label_tag "Write anything you want to share with #{@therapist.first_name} here."%>
			<% end %>
			<%= text_area(:event, :description, :id => "description", :placeholder => "Optional") %>
		<% end %>