			<%= form_for @therapist, url: { controller: "therapists", action: "update" }, :html => { :multipart => true } do |f| %>
			
			
				<%= retina_image_tag(@therapist, :avatar, :small, :default => [100,100]) %>
				<%= f.label :avatar, "Upload a photo of yourself." %>
			  <%= f.file_field :avatar %>
				
				<%= f.label :permalink, "Your unique URL" %>
				<%= f.text_field :permalink %>
	
				<%= f.label :first_name, "*First name" %>
				<%= f.text_field :first_name, :placeholder => "ex. John" %>
		
				<%= f.label :last_name, "*Last name" %>
				<%= f.text_field :last_name, :placeholder => "ex. Smith"%>
				
				<%= f.label :title, "What is your title?" %>
				<%= f.text_field :title, :placeholder => "Psychologist" %>
				
				<%= f.label :degree, "Specify initials to be included after your title (PhD, MA, LCSW, etc.)" %>
				<%= f.text_field :degree, :placeholder => "PsyD, MA"%>
				
				<%= f.label :license_number, "What is your therapy license number?" %>
				<%= f.text_field :license_number, :placeholder => "ex. PT 19318"%>
		
				<%= label_tag :gender, "What is your gender?" %>
				<%= f.select(:gender, [['Male', 'Male'], ['Female', 'Female'], ['Other', 'Other']]) %>
		
				<%= f.label :state, "*What is your location?" %>
				<%= f.text_field :city, :placeholder => "City" %>
				<%= f.text_field :state, :placeholder => "State" %>
				<%= f.text_field :zipcode, :placeholder => "Your zipcode" %>
				
				<%= f.label :phone, "Provide your phone number for clients to reach you at." %>
				<i>We will never call or share your number.</i>
				<%= f.text_field :phone, :class => "phone-field", :placeholder => "(213) 493-1588" %>
				
				<%= f.label :welcome, "Write a welcome message to your visitor." %>
				<%= f.text_area :welcome, :id => "welcome-text-area", :placeholder => "Hello, I'm here to..." %>
				
				<%= f.label :bio, "Write a little about yourself."%>
				<%= f.text_area :bio, 
												:onkeyup => "textAreaAdjust(this)",
												:id => "therapist-bio", 
												:placeholder => "Your bio..." %>
												
				<%= f.label :approach, "Write about your general therapeutic approach." %>
				<i>You can add up to two subsections for your therapeutic approach</i>
				<%= f.text_area :approach, :id => "approach-text-area", :placeholder => "The counseling I provide is..." %>
				
				<% check_if_subsections_exist %>

				<div id="add-subsection-container">
					<div class="sixteen columns add-subsection" id="add-subsection-one" style="display:<%= @approach1_title_style %>">
						<div>
							<p><span>+</span> Subsection to detail a specific aspect of your practice</p>
						</div>
					</div>
					<div class="sixteen columns add-subsection" id="add-subsection-two" style="display:<%= @approach2_title_style %>">
						<div>
							<p><span>+</span> Subsection to detail a specific aspect of your practice</p>
						</div>
					</div>
				</div>
				
				<div id="approach-subsection-one" style="display:<%= @approach1_style %>">
				<%= f.label :approach_sub1, "Write about a specific therapeutic approach." %>
				<%= f.text_field :approach_sub1_title, :placeholder => "i.e. Individual Therapy" %>
				<%= f.text_area :approach_sub1, :class => "approach-sub-text-area", :placeholder => "The counseling I provide is..." %>
				</div>
				
				<div id="approach-subsection-two" style="display:<%= @approach2_style %>">
				<%= f.label :approach_sub2, "Write about a specific therapeutic approach." %>
				<%= f.text_field :approach_sub2_title, :placeholder => "i.e. Couples Therapy" %>
				<%= f.text_area :approach_sub2, :class => "approach-sub-text-area", :placeholder => "The counseling I provide is..." %>
				</div>
												
				<%= f.label :issues, "List up to twenty issues you specialize in, separated with commas."%>
				<%= f.text_area :issues, :id => "issues-text-area", :placeholder => "Anxiety, PTSD, Depression, Eating Disorders"%>
				
				<%= render 'shared/therapist_error_messages' %>
		
				<%= f.submit "Update Profile", :class => "submit_button_white button" %>
			<% end %>