<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<meta name="google-site-verification" content="AKIGOymA82-1NwROwiVrgyiPA4LyhTMc4VA6I1LZ7Sw" />
	<%= display_meta_tags :site => 'Scouter' %>
	<%= csrf_meta_tags %>
	<% set_meta_tags :description => "Scouter aims to make it as simple as possible to begin working with a therapist. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access qualified mental health support." %>
	
	<!-- Javascript
  ================================================== -->
	<%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<%= javascript_include_tag "jquery.mask.min", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "jquery.timepicker.min", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "jstz-1.0.4.min", "data-turbolinks-track" => true %>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<%= stylesheet_link_tag "application", media: "all",
	                                       "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "fullcalendar", "data-turbolinks-track" => true %>
	<%= render 'layouts/shim' %>

	<!-- Favicons
	================================================== -->
	<%= favicon_link_tag 'favicon.ico' %>
		

</head>
<body>
	<header>
	</header>
	<main>
		
		<%= yield %>
	</main>
	<footer>
		<%= render 'layouts/analytics'%>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development?%>
	</footer>
</body>
</html>
