<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html ng-app="mainApp" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, user-scalable=no, maximum-scale=1">
	<meta name="google-site-verification" content="AKIGOymA82-1NwROwiVrgyiPA4LyhTMc4VA6I1LZ7Sw" />
	<%= display_meta_tags :site => 'Plain White Couch' %>
	<%= csrf_meta_tags %>
	<% set_meta_tags :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person." %>
	
	<!-- Javascript
  ================================================== -->
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<%= javascript_include_tag "//js.pusher.com/2.2/pusher.min.js" %>
	<%= javascript_include_tag "https://static.twilio.com/libs/twiliojs/1.2/twilio.js" %>
	<%= javascript_include_tag "jquery.mask.min" %>
	<%= javascript_include_tag "jquery.timepicker.min" %>
	<%= javascript_include_tag "jstz-1.0.4.min" %>
	<%= javascript_include_tag "fastclick" %>
	<%= javascript_include_tag "jquery.plugin.min" %>
	
	<!-- Yield partial javascript files -->
	<%= yield :head %>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<%= stylesheet_link_tag "application", media: "all" %>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
	<%= render 'layouts/shim' %>

	<!-- Favicons
	================================================== -->
	<%= favicon_link_tag 'favicon.ico' %>
		

</head>
<body class="<%= controller_name %>	 <%= action_name %>">
	<main ng-view>
		<%= yield %>
	</main>
	<footer>
		<!-- ANALYTICS / CONVERSION STUFF -->
		<%= render 'layouts/analytics/analytics'%>
		
		<% if session[:browsing] == true %>
			<%= render 'layouts/analytics/browse_click_conversion' %>
			<% session[:browsing] = nil %>
		<% end %>
		
		<% if session[:signed_up] == true %>
			<%= render 'layouts/analytics/signed_up_conversion' %>
			<% session[:signed_up] = nil %>
		<% end %>
		
		<% if session[:paid] == true %>
			<%= render 'layouts/analytics/paid_conversion' %>
			<% session[:paid] = nil %>
			<% session[:paid_amount] = nil %>
		<% end %>
		
		<% if params[:instant_therapy_click] == true %>
			<%= puts 'instant therapy click' %>
			<%= render 'layouts/analytics/instant_therapy_click' %>
		<% end %>
		
		<% if session[:instant_therapy_email] == true %>
			<%= puts 'instant therapy email' %>
			<%= render 'layouts/analytics/instant_therapy_email_drop' %>
		<% end %>
		
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? && controller_name != "chats" %>
	</footer>
</body>
</html>
